<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Job Board</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">This is</a>
      </li>
      <li class="active">
        <strong>Job Board</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <section>
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h5 class="panel-title">Current Job Board Listings</h5>
          </div>
          <div class="panel-body">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon">
                <button type="submit">
                  <span class="fas fa-search"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </section>
</div>