.idea/
.idea2/
tmp/sockets/
tmp/
log/
.idea/
.env
coverage/
/public/packs
/public/packs-test
/node_modules
/log
log2/

# Ignore master key for decrypting credentials and more.
/config/master.key
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
