<!--    Professional Certifications   /-->
<div class="ibox">
  <div class="ibox-title">
    <h5><i class="fas fa-info-circle"></i> Primary Professional Certifications</h5>
  </div>

  <div class="ibox-content">
    <div>
      <div class="feed-activity-list">
        <% current_user.acquired_certifications.each do |cert| %>
          <div class="feed-element">
            <a href="#" class="pull-left">
              <img alt="image" class='img-circle' src="<%= image_path(cert.patch_image_name) %>">
              <strong>NR <%= cert.abbvr %> # 12345 </strong>
              <i class="far fa-id-card"></i>
            </a>
            <div class="media-body ">

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div id="primary-certification" class="modal fade" role="dialog">
    </div> <!-- END OF COL/-->
  </div>
</div>