<div class="row wrapper border-bottom white-bg page-heading"/>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div id="root"/>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'live' %>