<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>RespondersNow.com</h2>
    <ol class="breadcrumb">
      <li class="active">
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Welcome</a>
      </li>

    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <section>
    <%= render partial: 'users/user_metrics' %>
  </section>
  <section>
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">Search Classes</h5>
          </div>
          <div class="panel-body">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control" placeholder="Course search coming soon!">
              <span class="input-group-addon">
                        <button type="submit">
                          <span class="fas fa-search"></span>
                        </button>
                      </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-9">
        <%= render partial: 'certifications/pro_certs' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="1234"></div>
      <%= google_adsense_include_tag client: 'ca-pub-7581132771547508', slot: '1234', enable_page_level_ads: true %>
    </div>
  </section>
</div>


