<div class="search-result">
  <h4>
    <span class="badge badge-primary pull-left bounceInRight">
    <i class="fas fa-star"></i> Featured
  </span>
  </h4>
  <br>
  <h3><a href="#">North Brunswick FARS</a></h3>
  <a href="#" class="search-link">https://nbfars.org</a>
  <br>
  <a href="">3mi away <i class="fas fa-map-marker"></i> map it!</a>
  <p>
    EMS Jobs Like no other.
  </p>
</div>
<div class="hr-line-dashed"></div>