<li class="<%= is_active_action('dashboard_2') %>">
  <%= link_to root_path do %>
      <i class="fa fa-ambulance"></i><span class="nav-label">Dashboard</span>
  <% end %>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i> <span class="nav-label">FAQ </span>
  </a>
</li>
<li>
  <%= link_to responder_work_histories_path(current_responder) do %>
      <i class="fa fa-star"></i> <span class="nav-label">Work History</span>
  <% end %>
</li>
<li class="">
  <%= link_to responder_certifications_path(current_responder) do %>
      <i class="fa fa-star"></i> <span class="nav-label">Certifications</span>
  <% end %>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i> <span class="nav-label">Background Check </span>
  </a>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i> <span class="nav-label">Ranking </span>
  </a>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i>
    <span class="nav-label">Messages <span class="label label-info pull-right">14</span></span>
  </a>
</li>