<div class="row">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <!--<span class="label label-success pull-right"></span>-->
        <h5>Profile Completion </h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">40%</h1>
        <!--<div class="stat-percent font-bold text-success">top 10% <i class="fa fa-bolt"></i></div>-->
        <small>you must be above 75% to be listed</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-info pull-right">Local</span>
        <h5>Current Rank</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">80th Percential</h1>
        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
        <small>in your area</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-primary pull-right">Today</span>
        <h5>Pending Interests</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">4</h1>
        <div class="stat-percent font-bold text-navy">2 <i class="fa fa-level-up"></i></div>
        <small>Agencies are awaiting a response</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-danger pull-right">4 days left</span>
        <h5>Profile Status</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">ACTIVE</h1>
        <div class="stat-percent font-bold text-success"><i class="fa fa-level-up"></i></div>
        <small>There are 120 responders within 50 miles of you</small>
      </div>
    </div>
  </div>
</div>