<div class="ibox-content col-lg-8 form-inline">
  <%= simple_form_for current_responder, class: 'form-inline' do |f| %>
    <div class="form-group zipcode-display col-lg-4" id="zipcode-display">
      <%= f.input :zipcode, label: false, class: 'form-control sr-only', id: 'zipcode-input', class: 'col-lg-6', input_html: {class: 'col-lg-6', pattern: '[0-9]{4}'}, placeholder: current_responder.zipcode || '' %>
      <%= f.submit 'Update Zipcode', class: 'btn btn-white' %>
      <div class="text-error"></div>
      <div id="city-state"></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">//<![CDATA[
$(function () {
    var clientKey = 'js-or5260CuimzMSvL9uJwRcTOO4rfCbywW4HhEWe2z59GgZr6iF6RjFJux57zZyTnX';
    // var clientKey = "thmAfmVjv2OcZRh8Cf62K7wxUp42bE6fN8F6D2YQ9TBudxInnimucRPaCYia9zd2";

    var cache = {};
    var container = $("#zipcode-display");
    var errorDiv = container.find("div.text-error");

    /** Handle successful response */
    function handleResp(data) {
        // Check for error
        if (data.error_msg)
            errorDiv.text(data.error_msg);
        else if ("city" in data) {
            // Set city and state
            container.find("#city-state").text(data.city + ',' + data.state);
            // container.find("input[name='state']").val(data.state);
        }
    }

    // Set up event handlers
    $('#responder_zipcode').on("keyup change", function () {
        // Get zip code
        var zipcode = $(this).val().substring(0, 5);
        if (zipcode.length == 5 && /^[0-9]+$/.test(zipcode)) {
            // Clear error
            errorDiv.empty();

            // Check cache
            if (zipcode in cache) {
                handleResp(cache[zipcode]);
            }
            else {
                // Build url
                var url = "https://www.zipcodeapi.com/rest/" + clientKey + "/info.json/" + zipcode + "/radians";

                // Make AJAX request
                $.ajax({
                    "url": url,
                    "dataType": "json"
                }).done(function (data) {
                    handleResp(data);

                    // Store in cache
                    cache[zipcode] = data;
                }).fail(function (data) {
                    if (data.responseText && (json = $.parseJSON(data.responseText))) {
                        // Store in cache
                        cache[zipcode] = json;

                        // Check for error
                        if (json.error_msg)
                            errorDiv.text(json.error_msg);
                    }
                    else
                        errorDiv.text('Request failed.');
                });
            }
        }
    }).trigger("change");
});
//]]></script>