<div class="footer pull-right">
  <ul style="list-style-type: none;">
    <li class="navbar-text"><%= link_to "Terms of Service", terms_of_service_path, class: 'pull-left' %></li>
    <li class="navbar-text"><%= link_to "Terms of Use & Privacy Policy", privacy_path %></li>
    <li class="navbar-text"><a href="#">RespondersNOW.com &copy; 2020</a></li>
    <li class="navbar-text"><a href="#">Made in America</a></li>
  </ul>
  <span class="flag-icon flag-icon-us"></span>
</div>

<style>
  @media screen and (max-width: 320px) {
    .footer {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .footer {
      display: none;
    }
  }

  @media screen and (max-width: 650px) {
    .footer {
      display: none;
    }
  }

  @media screen and (max-width: 980px) {
    .footer {
      display: none;
    }
  }

  @media screen and (max-width: 980px) {
    .footer {
      display: none;
    }
  }
</style>