<div class="footer">
  <%= link_to "Privacy Policy", privacy_path, class: 'pull-left' %>
  <%= link_to "Terms of Service", terms_of_service_path, class: 'pull-left' %>
  <div class="pull-right">
    <small>Made in America</small>
  </div>
  <div>
    <strong>Copyright</strong> RespondersNOW.com &copy; 2016-2017
  </div>
</div>
